﻿@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Счетатитальщик</h1>

<p role="status">Текущий счёт: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Жми меня, детка~</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
