﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorTest.Data
@inject WeatherForecastService ForecastService

<h1>Прогноз погоды</h1>

@if (forecasts == null) {
    <p><em>Loading...</em></p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Температура. (C)</th>
                <th>Температура. (F)</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
