@page "/todo"

<div class="container-fluid">
    <div class="row">
        <div class="col">
            
            <h2 class = "text-center">Todo (@todos.Count(i => !i.isDone))</h2>
            
            <table class="table table-striped">
                <thead class = "table-dark">
                <tr>
                    <th scope="col"> Название </th>
                    <th scope="col"> Готово </th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                
                @foreach (var i in todos) {
                    <tbody>
                    <tr>
                        <td>
                            <div style="@(i.isDone ? "color: green; text-decoration: line-througe;" : "color: red;")">
                                @i.title
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" @bind="i.isDone"/> 
                        </td>
                        <td> <button class="btn btn-danger" @onclick="( () => deleteTodo(i) )"> Удалить </button>    </td>
                    </tr>
                    </tbody>
                }
            </table>
            
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="Пиши дело" @bind="newTodo"/>
                </div>
                <div class="col">
                    <button class="btn btn-success" @onclick="addTodo">Добавь дело</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

@code {
    private List<TodoItem> todos = new List<TodoItem>();
    
    private string newTodo;
    
    private void addTodo() {
        if (!string.IsNullOrWhiteSpace(newTodo)) {
            todos.Add(new TodoItem {title = newTodo});
            newTodo = string.Empty;
        }     
    }

    private void deleteTodo(TodoItem deletedItem) {
        todos.Remove(deletedItem);
    }
}